{% extends "Admin/admin_layout.html" %}

{% block title %}
Add Question
{% endblock %}





{% block content %}
<div class="container-fluid" id="add_sub" style="height: auto;">
    <h3 style="color: brown; font-family: cursive;">Add Question</h3>
    <br>
    <form action="{{ url_for('add_question', quizID=quizID) }}" method="post">
        <div class="mb-3">
            <label for="question" class="form-label">Enter your question</label>
            <textarea name="question"  type="text" class="form-control" id="question" required rows="2"> </textarea>
        </div>

        <div class="mb-3">
            <label for="A" class="form-label">Option 1</label>
            <input name="A"  type="text" class="form-control" id="A" required>
        </div>

        <div class="mb-3">
            <label for="B" class="form-label">Option 2</label>
            <input name="B"  type="text" class="form-control" id="B" required>
        </div>

        <div class="mb-3">
            <label for="C" class="form-label">Option 3</label>
            <input name="C"  type="text" class="form-control" id="C" required>
        </div>

        <div class="mb-3">
            <label for="D" class="form-label">Option 4</label>
            <input name="D"  type="text" class="form-control" id="D" required>
        </div>
        
        <div class="mb-3">
            <label for="answer" class="form-label">Answer</label>
            <input name="answer"  type="text" class="form-control" id="answer" required>
        </div>
        
        <button type="submit" class="btn btn-success">Add Question</button>
    </form>


</div>
{% endblock %}

