{% extends "Admin/admin_layout.html" %}

{% block title %}
Add Question
{% endblock %}





{% block content %}
<div class="container-fluid" id="add_sub" style="height: auto;">
    <h3 style="color: brown; font-family: cursive;">Add Question</h3>
    <br>
    <form action="{{ url_for('edit_question', questionID=question.questionID) }}" method="post">
        <div class="mb-3">
            <label for="question" class="form-label">Enter your question</label>
            <textarea name="question"  type="text" class="form-control" id="question" required rows="2"> {{question.question}} </textarea>
        </div>

        <div class="mb-3">
            <label for="opt_1" class="form-label">Option 1</label>
            <textarea name="opt_1"  type="text" class="form-control" id="opt_1" required rows="1"> {{question.option1}} </textarea>            
        </div>

        <div class="mb-3">
            <label for="opt_2" class="form-label">Option 2</label>
            <textarea name="opt_2"  type="text" class="form-control" id="opt_2" required rows="1"> {{question.option2}} </textarea> 
        </div>

        <div class="mb-3">
            <label for="opt_3" class="form-label">Option 3</label>
            <textarea name="opt_3"  type="text" class="form-control" id="opt_3" required rows="1"> {{question.option3}} </textarea> 
        </div>

        <div class="mb-3">
            <label for="opt_4" class="form-label">Option 4</label>
            <textarea name="opt_4"  type="text" class="form-control" id="opt_4" required rows="1"> {{question.option4}} </textarea> 
        </div>
        
        <div class="mb-3">
            <label for="answer" class="form-label">Answer</label>
            <textarea name="answer"  type="text" class="form-control" id="answer" required rows="1"> {{question.correct_option}} </textarea> 
        </div>
        
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>


</div>
{% endblock %}

