{% extends "Admin/admin_layout.html" %}

{% block title %}
Chapter Management
{% endblock %}



{% block content %}

<div class="container mt-4 text-center">
    <h2 class="fw-bold">Chapter Management</h2>
</div>

<div class="container mt-4">
    <div class="card p-3"> <!-- makes it a card component with moderate padding -->
        <div class="d-flex"> <!-- d-flex makes the div thingy flexible to add elements in a single row   -->
            <h4 style="color: rgb(43, 226, 58); margin-top: 15px;">Chapter list</h4>
            
            <a href="{{ url_for('add_chapter') }}" class="btn btn-outline-primary" style="margin-left: 950px;">+ Add Chapter</a>
        </div>
        {% for subject in subjects %}
        
        <div class="d-flex"> <!-- d-flex makes the div thingy flexible to add elements in a single row   -->
            <p  class="col-4" style="font-size: large; color: blueviolet;">{{subject.subjectName}} (ID: {{subject.subjectID}})</p> 
        </div>
              

        <table class="table">

            <thead>
                <tr>
                    <th class="col-1">Chapter ID</th>
                    <th class="col-3">Name</th>
                    <th class="col-6">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for chapter in subject.chapters %}
                <tr>
                    <td class="col-1">{{ chapter.chapterID }}</td>
                    <td class="col-3">{{ chapter.chapterName }}</td>
                    <td class="col-6">{{ chapter.chapterDescription }}</td>
                    <td class="d-flex">
                        <a href="{{url_for('edit_chapter' , chapterID= chapter.chapterID)}}" class="btn btn-sm btn-primary">Edit</a>
                        
                        <form action="{{url_for('del_chapter' , chapterID= chapter.chapterID)}}" , method="post" , style="margin-left: 5px;">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        

        {% endfor %}
        
    </div>
</div>

{% endblock %}

{% block footer %}
    this is footer
{% endblock %}

