/* login page style starts here  */

#login_form{
    border: 3px inset #794909;
    width: 500px;
    height: 300px;
    margin: auto; 
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
}


/* signup page styling starts here  */

#reg_form{
    border: 3px inset #794909;
    width: 500px;
    height: 490px;
    margin: auto; 
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
}




/* Add_sub styling here  */
#add_sub{
    border: 3px inset #794909;
    width: 500px;
    height: 360px;
    margin: auto; 
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
}


#profile{
    border: 3px inset #794909;
    width: 500px;
    margin: auto; 
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
}