{% extends "Admin/admin_layout.html" %}

{% block title %}
View Quiz
{% endblock %}


{% block content %}
<div class="container mt-4 d-flex justify-content-between">
    <h2 class="fw-bold">Quiz List</h2>
    
</div>
<br>
<div class="container mt-4" >
    
    <div class=" g-4">
        {% for quiz in quizzes %}
        
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <!-- justify content between to keep the buttons apart in the way it is shown  -->
                    <div class="d-flex justify-content-between" style="background-color: blanchedalmond; padding: 10px;">
                        <h5 class="card-title">{{ quiz.quizName }} (ID: {{quiz.quizID}}) </h5>
                        <a href="{{url_for('add_question' , quizID = quiz.quizID)}}" class="btn btn-outline-primary" >+Add Question</a>                        
                    </div>
                    

                    <table class="table table-striped">
                        <thead>
                            <tr>                                
                                <th>ID</th>
                                <th>Question</th>
                                <th>Opt_1</th>
                                <th>Opt_2</th>
                                <th>Opt_3</th>
                                <th>Opt_4</th>
                                <th>Answer</th>
                                <th>Action</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in quiz.questions %}

                            <tr>
                                <td>{{ question.questionID}}</td>
                                <td>{{ question.question }}</td>
                                <td>{{ question.option1 }}</td>
                                <td>{{ question.option2 }}</td>
                                <td>{{ question.option3 }}</td>
                                <td>{{ question.option4 }}</td>
                                <td>{{ question.correct_option}}</td>
                                
                                <td class=" d-flex align-items-center">
                                    <!-- <a href="{{url_for('edit_quiz' , quizID=quiz.quizID)}}" class="btn btn-sm btn-outline-primary" >Edit</a> -->
                                    <a href="{{url_for('edit_question' , questionID= question.questionID)}}" class="btn btn-sm btn-outline-primary" >Edit</a>
                                    <form action="{{url_for('del_question' , questionID= question.questionID)}}" , method="post" , style="margin-left: 5px; display: inline;">
                                        <button class="btn btn-sm btn-outline-danger">Delete</button>
                                    </form>
                                    
                                </td>                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>




{% endblock %}

